@charset "UTF-8";

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, kbd, q, samp, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, header, nav, article, aside, footer, hgroup, section {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	text-decoration: none;
}
ol, ul { list-style: none }

/* Clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/* @FONT-FACE */
@font-face {
	font-family: 'NotMaryKate';
	src: url('NotMaryKate/NotMaryKate.ttf');
	src: local('?'), url('NotMaryKate/NotMaryKate.ttf') format('ttf'), url('NotMaryKate/NotMaryKate.ttf') format('truetype'), url('NotMaryKate/NotMaryKate.ttf') format('svg');
}

@font-face {
	font-family: 'StreetwiseBuddy';
	src: url('StreetwiseBuddy/StreetwiseBuddy.ttf');
	src: local('?'), url('StreetwiseBuddy/StreetwiseBuddy.ttf') format('ttf'), url('StreetwiseBuddy/StreetwiseBuddy.ttf') format('truetype'), url('StreetwiseBuddy/StreetwiseBuddy.ttf') format('svg');
}

@font-face {
	font-family: 'DeutschGothic';
	src: url('DeutschGothic/Deutsch.ttf');
	src: local('?'), url('DeutschGothic/Deutsch.ttf') format('ttf'), url('DeutschGothic/Deutsch.ttf') format('truetype'), url('DeutschGothic/Deutsch.ttf') format('svg');
}

/* TYPOGRAPHY */
html {
	background-color: #E3E3E3;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #8A8A8A), color-stop(1.0, #E3E3E3));
}

body {
	width: 960px;
	margin: 0 auto;
	font: 12px/18px StreetwiseBuddy, "pizzadude.dk", "pizzadude", sans-serif;
	text-align: justify;
}
#logo{
	color: #FFFFFF
}
a { color: #000000 }
h1 { font: 24px/36px NotMaryKate, "Nick's Fonts", "Nick", sans-serif }


/* HEADER */
hgroup { margin: 20px 10px 40px; }
hgroup h1 {
	font: 40px/54px DeutschGothic, "James Fordyce Font", "DeutschGothic", sans-serif;
	color: #000000;
	text-shadow: -1px -1px 0 #000000, 0 0 10px rgba(0, 0, 0, 0.7);
}
hgoupr h1 a:hover { border: none; color: #CC0000 }
hgroup h2 {
	font: 14px/20px NotMaryKate, "Nick's Fonts", "Nick", sans-serif;
	color: #800080;
}

/* NAVIGATION */
nav#global {
	position: relative; left: 220px; top: -75px;
	margin: 20px 0px 0;
	width: 100%;
	-webkit-border-radius: 10px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #636363), color-stop(1, #7D7D7D));
	-webkit-box-shadow: 5px 5px 20px #4A4A4A;
}
nav#global ul {
	text-align: center;
	height: 40px;
	margin: 0 auto;
	display: table;
}
nav#global ul li {
	position: relative;
	display: inline;
}
nav#global ul li a {
	font: 12px NotMaryKate, "Nick's Fonts", "Nick", sans-serif;
	display: block;
	float: left;
/*	text-transform: uppercase; */
	line-height: 40px;
	padding: 0px 30px;
	color: #FFFFFF;
}

nav#global ul li a:hover {
	-webkit-transform: scale(1.5);
}

/* MAIN */
#content {
	width: 25%;
	float: left;
}
nav#leftBar {
	position: relative; top: -75px;
	margin: 20px 5px 0;
	width: 65%;
	-webkit-border-radius: 5px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #636363), color-stop(1, #7D7D7D));
	-webkit-box-shadow: 5px 5px 20px #4A4A4A;
}
nav#leftBar ul {
	text-align: center;
	height: 40px;
	margin: 0 auto;
	display: table;
}
nav#leftBar ul li {
	position: relative;
	display: inline;
}
nav#leftBar ul li a {
	font: 12px NotMaryKate, "Nick's Fonts", "Nick", sans-serif;
	display: block;
	float: left;
/*	text-transform: uppercase; */
	line-height: 40px;
	padding: 10px 10px;
	color: #FFFFFF;
}
nav#leftBar ul li a:hover {
//	border: none;
//	box-shadow: inset 5px 5px 20px #636363;
//	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #636363), color-stop(1, #7D7D7D));
	-webkit-transform: scale(1.5);
}

/* SIDEBAR */
aside {
	width: 105%;
	height: 400px;
	float: right;
	margin-bottom: 20px;
	padding: 10px;
	-webkit-border-radius: 15px;
	position: relative; top: -55px;
	z-index: 1;
	-webkit-box-shadow: 5px 5px 20px #707070;
}
aside h1 {
	font-size: 18px;
	line-height: 28px;
	height: 28px;
	margin-bottom: 10px;
	background-color: #A3A3A3;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #A3A3A3),color-stop(1, #BDBDBD));
	color: #FFFFFF;
	padding: 2px 10px;
	-webkit-border-radius: 10px;
}
aside section {
	margin: 5px 5px 25px 0;
	padding: 5px;
	background: none;
}
aside section:last-child { margin-bottom: 0 }

/* FOOTER */
footer section {
	width: 100%;
}
nav#footerBar {
	position: relative; top: -75px;
	margin: 30px 0px 0;
	width: 100%;
	-webkit-border-radius: 10px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #636363), color-stop(1, #7D7D7D));
	-webkit-box-shadow: 5px 5px 20px #4A4A4A;
}
nav#footerBar ul {
	text-align: center;
	height: 40px;
	margin: 0 auto;
	display: table;
}
nav#footerBar ul li {
	position: relative;
	display: inline;
}
nav#footerBar ul li a {
	font: 12px NotMaryKate, "Nick's Fonts", "Nick", sans-serif;
	display: block;
	float: left;
/*	text-transform: uppercase; */
	line-height: 40px;
	padding: 0 30px;
	color: #FFFFFF;
}
nav#footerBar ul li a:hover {
	-webkit-transform: scale(1.5);
}
.copyright {
	text-align: center;
	position: relative; top: -60px;
	margin: 10px 0 30px;
	clear: both;
}

/* Scroller */


/* Znode Style */
/*
body, html{
  margin : 0;
  padding : 0;
  overflow : hidden;
}
*/


#overlay{
  position: absolute;
  background : url("../images/trans.gif");
  z-index : 1000;
  cursor: pointer;
}

#controls{
  width: 100%;
  height: 40px;
  border-top : none;
  border-left : none;
  border-right : none;
  border-bottom : none;
}

.btn{ 
  cursor : pointer;
}
.btn:hover {
	border: none;
//	box-shadow: inset 5px 5px 20px #636363, inset 5px 5px 20px #636363;
//	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #636363), color-stop(1, #7D7D7D));
  -webkit-transform: scale(1.5);
}






/* related to NodeGraph & li/ul */
/*
ul{
  padding : 0;
  margin : 0;
  background-color : white;
}
*/
li{
  list-style : none;
}

textarea{ 
  width: 90px;
}

/* Scroller */
#simple_scroll { padding: 5px |important; }
 	.scroll-pane { overflow: auto; width: 100%; height: 100%; float:left; }
	.scroll-content {height: 150%; float: left; }
	.scroll-content-item { width: 100%; height: 730px; float: left; margin: 5px; font-size: 1em; line-height: 2em; text-align: left; }
	
/* css for this page */
            body > h2 { margin: 30px 0 15px; text-shadow: 1px 1px 0 white; border-bottom: 2px solid #333; padding-bottom: 5px }
            strong + p { margin-top: 0 }
            dt { font-weight: bold }
            dd { margin: 0 }
            figure { display: block; width: 100%; height: 100%; margin: 0 }
            figcaption { padding: 10px 15px; position: absolute; bottom: 20px; right: 30px; z-index: 3; background: black; background: rgba(0,0,0,0.7); color: white;
                -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px }
            .social-buttons { width: 100%; text-align: center; margin-top: 30px }
            .social-buttons ul { display: inline-block; margin: 0 }
            .social-buttons li { float: left; list-style-type: none }  